/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');
@import url('./animation.css');
body{
	background-color: #f2f2f2;
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Lato', sans-serif;
}
/* Custom Css */
li{
	list-style: none;
	font-size: 1.1rem;

}
/* a{
	color:#D06224;
}
a:hover{
	color:#D06224;
} */
/* Navbar */
.navbar{
	/* border-bottom:#008ed6 solid 3px; */
}
.c-navbar-brand{
	/* font-family: 'Cinzel Decorative', cursive; */
}

/* Navbar Hover */
.navbar-nav li{
	position: relative;
}
.navbar-nav li::after {
    content: "";
    bottom: -5px;
    left: 0;
    position: absolute;
    width: 0%;
    height: .3rem;
    background-color: rgb(73, 73, 73);
}

.navbar-nav li:hover::after {
    transition: .7s;
    width: 100%;

}

ul.social-share li:hover::after{
	/* transition: .7s; */
    width: 0%
}
.c-nav-link{
	/* font-family: 'Cinzel Decorative', cursive; */
}
/* .c-active{
	background-color: #D06224;
	color: #fff !important;
} */

/* .c-nav-link:hover{
	background-color: #D06224;
	color: #fff !important;
} */
/* navbar social icon */
ul.social-share li a {
    font-size: 18px;
    color: #eee;
    background: #555;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    border: 2px solid #444;
	margin: 0px 5px 0px 0px;
}
ul.social-share li a.facebook {
    color: #fff;
    background: #3b5998;
    border: 2px solid #3b5998;
}
ul.social-share li a.facebook:hover {
    color: #3b5998;
    background: transparent;
}
ul.social-share li a.twitter {
    color: #fff;
    background: #1da1f2;
    border: 2px solid #1da1f2;
}
ul.social-share li a.twitter:hover {
    color: #1da1f2;
    background: transparent;
}
/* Home Section */
.header-image{
	width: 100%;
	height: 420px;
	background-color: #00acee;
	animation: 2s fromBottom ease-in;

}
section.home-section{
	margin-top: 3.5rem;
	position: relative;
	top:-18rem;
}
section.home-section .row{
	background: rgb(228, 226, 226);
	animation: 1s fromLeft ease-in;
}

/* .btn-header{
	animation: 1s fromBottom ease-in;
} */
.header-border {
	width: 298px;
	height: 302px;
	border-radius: 44%;
	background: #7affe0;
	margin-left: -6rem;
	margin-bottom: -5rem;
	transform: rotate(-43deg);
	margin-top: -12rem;
}

section.quick-search {
	width: 100%;
	height: 520px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/hader-image02.jpg');
	background-size: cover;
}
#home-section{
	position:relative;
	background-size:cover;
	background-attachment: fixed;
	min-height:450px;
}
.home-inner{
	padding-top:90px;

}
.dark-overlay{
	background-color:rgba(0,0,0,0.6);
	position:absolute;
	left:0;
	top:0;
	width:100%;
	min-height:450px;
}
.card-form{
	opacity: 0.95;
	/* background-color: #D06224; */
	background-color: #24A0D0;
	margin:30px 0px 0px 0;
}
.explore-text{
	color:#000;
}

.quick-search{
	color:#fff;
}

/* Footer */
.c-footer {
	background-color: #000;
	color: #fff;
}
.c-footer ul{
	
		margin-bottom: .2rem;
		margin-top: 1rem;
}
.c-btn{
	font-size: 18px;
}

.twitter{
	color: #00acee;
}
.twitter:hover{
	color: #fff;
}
.facebook{
	color: #3b5998;
}
.facebook:hover{
	color: #fff;
}
/* About Us */
#about .fa{
	border: #D06224 solid 1px;
	color:#D06224;
	padding:35px;
	border-radius: 15px;
	font-size:33px;
}
.unit-amenities-table td{
	padding-bottom: 10px;
	padding-right: 5px;
}


/* Rent Now Button */
.btn-rent-now{
	background-color: #D06224;
	color:#fff;
}
.btn-rent-now:hover{
	background-color: #fff;
	color:#D06224;
	border: #D06224 solid 1px;
}

/* Area Attraction */

.table-contact{
	width: 200px;
}

.c-font-size{
	font-size: 18px;
}
/* .c-thead{
	background-color: #D06224;
	color: #fff;
} */
.c-thead {
	background-color: #000;
	color: #fff;
}
.palaces{
	color: var(--dark);
}
/* Details Page */
.rent-price{
	color: #D06224;
	font-weight: 800;;
}
/* .c-btn-outline-brown{
	background-color: #D06224;
	color: #fff;
	border:#fff solid 1px;
} */
.c-btn-outline-brown {
	background-color: transparent;
	/* color: #fff; */
	border: 1px solid black;
	border-radius: 1px;
}
.c-btn-outline-brown:focus{
	outline: none;
}
.c-btn-outline-brown:hover{
	background-color: #fff;
	color: #D06224;
	border: #D06224 solid 1px;
}
.list-style{
	list-style-type: disc;
}
.list-style li{
	padding: 5px;
}
.features{
	margin-left: 10px;
}
/* Underline Features */
.underline{
	border-bottom: #D06224 solid 4px;
	margin: 0px 40%;
}